// Elimina espacio extra

// Encabezado
ion-toolbar {
  --background: #f0b323;
  --color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
}

// Icono de cerrar sesión
ion-icon {
  font-size: 1.6rem;
  color: white;
}

// Título de la sección de pedidos
.titulo-pedidos {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px 16px;
  color: #333;
}

// Tarjetas de mesas
ion-card {
  padding: 0;
}

.mesa-card {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: white;
  margin: 8px;
}

.mesa-card:hover {
  transform: scale(1.05);
}

// Estilo para mesas con productos
.mesa-en-preparacion {
  background-color: #ffc107 !important; // Amarillo
  color: black !important;
  font-weight: bold;
  border: 2px solid #e0a800;
}

.mesa-servida {
  background-color: #28a745 !important; // Verde
  color: white !important;
  font-weight: bold;
  border: 2px solid #218838;
}


.mesa-vacia {
  background-color: #e0e0e0 !important;
  color: #666 !important;
  font-weight: normal;
  border: 2px solid #c0c0c0;
}



// Número de mesa
.mesa-numero {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

// Nombre del cliente
.mesa-cliente {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}

.spinner-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  ion-spinner {
    width: 80px;
    height: 80px;
    color: #f0b323; // tu color institucional
  }

  p {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
  }
}
